<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="bg-success text-center">homee</h1>
    {% for j in messages %}
    {% if j.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success">
      <p>{{j}}</p>
    </div>
    {% endif %}
    {% if j.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger">
      <p>{{j}}</p>
      {% endif %}    
    


    {% endfor %}
    {% for i in data %}
   <P>{{i}}</P>

    {% endfor %}
    <nav class="nav-bar bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">login 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add' %}">add 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'count' %}">count 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cal' %}">calculator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'forms' %}">formss</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vemp1' %}">view employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'man' %}">manager</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vman' %}">manager view</a>
            </li>
            
          </ul>
          

    </nav>
   


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
  </body>
</html>